*.png
*.mat
/PatSpecHFRed4a_ObjFun.m
/.DS_Store

BCHF12Red4_InputData.txt.pdf

VarChange_Script.m

BCHF10Red4_InputData.txt

BCHF12_NomParams_6July2020.txt

BCHF12Red4_InputData.txt

BCHF12Red4_OptimBestParams.txt

BCHF14Red4_InputData.txt

BCHF15Red4_InputData.txt

BCHF16Red4_InputData.txt

BCHF17Red4_InputData.txt

BCHF17Red4_InputData_Copy.txt

BCHF18Red4_InputData.txt

BCHF1Red4_InputData.txt

BCHF20Red4_InputData.txt

BCHF21Red4_InputData.txt

BCHF22Red4_InputData.txt

BCHF23Red4_InputData.txt

BCHF24Red4_InputData.txt

BCHF25Red4_InputData.txt

BCHF26Red4_InputData.txt

BCHF27Red4_InputData.txt

BCHF29Red4_InputData.txt

BCHF2Red4_InputData.txt

BCHF31Red4_InputData.txt

BCHF32Red4_InputData.txt

BCHF32Red4_OptimBestParams.txt

BCHF33Red4_InputData.txt

BCHF33Red4_OptimBestParams.txt

BCHF35Red4_InputData.txt

BCHF35Red4_OptimBestParams.txt

BCHF37Red4_InputData.txt

BCHF37Red4_OptimBestParams.txt

BCHF38Red4_InputData.txt

BCHF38Red4_OptimBestParams.txt

BCHF39Red4_InputData.txt

BCHF39Red4_OptimBestParams.txt

BCHF3Red4_InputData.txt

BCHF40Red4_InputData.txt

BCHF40Red4_OptimBestParams.txt

BCHF41Red4_InputData.txt

BCHF41Red4_OptimBestParams.txt

BCHF46Red4_InputData.txt

BCHF46Red4_OptimBestParams.txt

BCHF47Red4_InputData.txt

BCHF47Red4_OptimBestParams.txt

BCHF4Red4_InputData.txt

BCHF59Red4_InputData.txt

BCHF5Red4_InputData.txt

BCHF61Red4_InputData.txt

BCHF62Red4_InputData.txt

BCHF6Red4_InputData.txt

BCHF8Red4_InputData.txt

BCHF9Red4_InputData.txt

PatData_SimParams_Input.txt

dXdT_Smith.m

dXdT_SmithRed1.m

dXdT_SmithRed2.m

dXdT_SmithRed3.m

PatSpecHF_ObjFun.m

PatSpecHFRed4_ObjFun.m

SepttZF.m

Smith_OptimScript.m

SmithRed1_OptimScript.m

SmithRed2_OptimScript.m

SmithRed3_OptimScript.m

SmithRed4_OptimScript.m

SixPanel_Figure.m
